<div class="image-slider-container">
  <div class="image-slider-header">
    <h2 mat-dialog-title>{{ data.wineName }}</h2>
    <button mat-icon-button (click)="closeDialog()" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content class="image-slider-content">
    <div class="image-container">
      <img [src]="currentImage" [alt]="data.wineName" class="wine-image">
    </div>

    <div class="navigation-controls" *ngIf="hasMultipleImages">
      <button mat-icon-button (click)="prevImage()" [disabled]="currentIndex === 0" class="nav-button">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <span class="image-counter">{{ currentIndex + 1 }} / {{ data.images.length }}</span>
      <button mat-icon-button (click)="nextImage()" [disabled]="currentIndex === data.images.length - 1" class="nav-button">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</div>
