<div class="wine-table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="wine-table">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Nombre</th>
      <td mat-cell *matCellDef="let wine" style="text-align: center;">{{ wine.name }}</td>
    </ng-container>

    <!-- Year Column -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">A&ntilde;o</th>
      <td mat-cell *matCellDef="let wine" style="text-align: center;">{{ wine.year === 0 ? '-' : wine.year }}</td>
    </ng-container>

    <!-- Bottles Column -->
    <ng-container matColumnDef="bottles">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Número de Botellas</th>
      <td mat-cell *matCellDef="let wine" style="text-align: center;">{{ wine.bottles }}</td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Im&aacute;genes</th>
      <td mat-cell *matCellDef="let wine" (click)="openImageSlider(wine)" class="image-cell" style="text-align: center;">
        <img *ngIf="wine.images && wine.images.length > 0"
             [src]="wine.images[0]"
             alt="{{ wine.name }}"
             class="wine-thumbnail" />
        <span *ngIf="!wine.images || wine.images.length === 0">Sin imagen</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="paginator-container">
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Paginador de vinos"></mat-paginator>
  </div>
</div>
